* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.header-top {
    height: 80px;
    background-color: #f5f8fa;
}


.container{
    width:1080px;
    margin: auto;
    height: 100%;
    background-color: green;
}
.header-bottom{
    height: 100px;
    background-color: white;
}
.header-top-left{
    width: 50%;
    height: 100%;
    float:left;
    background-color: #f5f8fa;
}

.header-top-right{
    width: 50%;
    height: 100%;
    float: right;
    background-color: #f5f8fa;
    text-align: right;
}
h3 {
    color:#33475b;
    display: inline-block;
    margin-top: 30px;
}
h4{
    color:#33475b;
    display: inline-block;
    border-left: 1px solid black;
    padding-left: 20px;
}

}
.fa-globe.fas{
    background-color:white;
    width: 35px;
    height: 5px;
    margin: 6px 0;
    display: inline;
}

.btn{
    padding:10px;
    border-radius: 5px;
    border: 1px solid #4e8cb6;
    color: #ff7a59;

    text-decoration: none;
    font-size: 14px;
    border-color: #ff7a59;
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;

}
.btn-primary {
    background-color: #ff7a59;
    border-color: #ff7a59;
    color:white;

}
.btn-gethub{
    margin-right: 0;
    font-size: 18px;
}
#parte-centrale{
    background-image: linear-gradient(to top right, #fef8f0, #fff3ee, #fff1ee);
    height: 500px;
}
footer{
    background-color: orange;
    height: 300px;
}
.header-bottom-left{
    width: 50%;
    height: 100%;
    float:left;
    background-color: white;
}
.header-bottom-left img{
    margin-top: 30px;
}

.header-bottom-right{
    width: 50%;
    height: 100%;
    float: left;
    background-color: white;
    text-align: right;
}
#main-menu{
    list-style-type: none;

}
#main-menu li{
    display: inline-block;
    padding-right: 10px

}
#main-menu li a {
    color :#33475b;
    text-decoration: none;
    display: inline-block;
    height: 200px;
    line-height: 100px;
    font-size: 20px;
    font-weight: 700;

}
#main-menu li:last-child a{
    padding-right: 0;
}
.fa-search{
    margin-right: 10px;
}
h1{
    font-size: 42px;
    padding-top: 60px;
    padding-bottom: 10px;
    color:#33475b;
    font-family: 'Baloo 2', cursive;
}
p{
    line-height: 2;
    font-size: 23px;

}
.parte-centrale-sinistra{
    width: 50%;
    height: 100%;
    float:left;
    background-image: linear-gradient(to top right, #fef8f0, #fff3ee, #fff1ee);
}
.parte-centrale-destra{
    width: 50%;
    height: 100%;
    float: left;
    background-image: linear-gradient(to top right, #fef8f0, #fff3ee, #fff1ee);
    text-align: right;
}
.parte-centrale-sinistra a{
    font-size: 25px;
    padding: 15px;
}
.seconda-parte-centrale{
    height: 700px;
    background-color: red;

}
.primo-box-alto{
    height: 50%;
    background-color: purple;

}
.primo-box-alto-uno{
    width: 40%;
    height: 100%;
    background-color: #f5f8fa;
    float:left;
}
.primo-box-alto-uno h1{
    font-size: 38px;
    padding-top: 60px;
    padding-bottom: 10px;
    color:#33475b;
    font-family: 'Baloo 2', cursive;

}
.primo-box-alto-uno p{
    line-height: 2;
    font-size: 19px;
}
.primo-box-alto-due{
    width: 60%;
    height: 100%;
    background-color: blue;
    float: left;
    padding-left: 20px;
}
.primo-box-alto-due h1{
    font-size: 36px;
    padding-top: 60px;
    padding-bottom: 10px;
    color:white;

}
.primo-box-alto-due p{
    line-height: 1;
    font-size: 20px;
    color:white;
    padding-bottom: 20px;

}
.primo-box-alto-due p2{
    font-size: 18px;
    padding-top: 0;
    padding-bottom: 0;
    color:white;

}
#box-due-menu {
    list-style-type: none;
    color:white;
    padding-top: 13px;
    font-size: 18px;
    float:left;
}
#box-due-menu li{
    display: inline-block;
    margin-right: 20px
}
.btn-get-free{
    background-color: orange;
    padding:11px;
    border-radius: 5px;
    border: 1px solid #4e8cb6;
    color: white;
    text-decoration: none;
    font-size: 14px;
    border-color: white;
    margin-top: 20px;
    margin-right: 10px;
    font-size: 22px;
    margin-left: 50px;
}
.right{
    float:right;
}
.secondo-box{
        height: 50%;
        background-color: purple;
}
.secondo-box-basso-sinistra{
    width: 33.3%;
    height: 100%;
    background-color: black;
    float:left;
}
.secondo-box-basso-centrale{
    width: 33.3%;
    height: 100%;
    background-color: grey;
    float:left;
}
.secondo-box-basso-destra{
    width: 33.4%;
    height: 100%;
    background-color: lightblue;
    float:left;
}
.secondo-box-basso-sinistra h1{
    font-size: 34px;
    padding-top: 30px;
    padding-bottom: 8px;
    color:white;
    padding-left: 15px;

}
.secondo-box-basso-sinistra p{
    line-height: 1;
    font-size: 19px;
    color:white;
    padding-bottom: 20px;
    padding-left: 15px;
}
.secondo-box-basso-sinistra p{
    line-height: 0;
    font-size: 16px;
    color:white;
    padding-bottom: 20px;
    padding-left: 15px;
}
#menu-secondo-box-sinistra{
        color:white;
        padding-top: 13px;
        font-size: 20px;
        padding-left: 25px;
}
.fa-dot-circle{
    margin: 6px 0;
    display: inline;
    color:orange;
}
.bottone-due{
    display:block;
}
