* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.header-top {
    height: 80px;
    background-color: #f5f8fa;
}


.container{
    width:1080px;
    margin: auto;
    height: 100%;
    background-color: green;
}
.header-bottom{
    height: 100px;
    background-color: white;
}
.header-top-left{
    width: 50%;
    height: 100%;
    float:left;
    background-color: #f5f8fa;
}

.header-top-right{
    width: 50%;
    height: 100%;
    float: right;
    background-color: #f5f8fa;
    text-align: right;
}
h3 {
    color:#33475b;
    display: inline-block;
    margin-right:10px;
    margin-top: 30px;
}
h4{
    color:#33475b;
    display: inline-block;
    border-left: 1px solid black;
    padding-left: 20px;
}

}
.fa-globe.fas{
    background-color:white;
    width: 35px;
    height: 5px;
    margin: 6px 0;
    display: inline;
}

.btn{
    padding:10px;
    border-radius: 5px;
    border: 1px solid #4e8cb6;
    color: #ff7a59;

    text-decoration: none;
    font-size: 14px;
    border-color: #ff7a59;
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;

}
.btn-primary {
    background-color: #ff7a59;
    border-color: #ff7a59;
    color:white;

}
.btn-gethub{
    margin-right: 0;
}
#parte-centrale{
    background-image: linear-gradient(to top right, #fef8f0, #fff3ee, #fff1ee);
    height: 500px;
}
footer{
    background-color: orange;
    height: 300px;
}
.header-bottom-left{
    width: 50%;
    height: 100%;
    float:left;
    background-color: white;
}
.header-bottom-left img{
    margin-top: 30px;
}

.header-bottom-right{
    width: 50%;
    height: 100%;
    float: left;
    background-color: white;
    text-align: right;
}
#main-menu{
    list-style-type: none;

}
#main-menu li{
    display: inline-block;
    padding-right: 10px

}
#main-menu li a {
    color :#33475b;
    text-decoration: none;
    display: inline-block;
    height: 200px;
    line-height: 100px;
    font-size: 20px;
    font-weight: 700;

}
#main-menu li:last-child a{
    padding-right: 0;
}
.fa-search{
    margin-right: 10px;
}
h1{
    font-size: 30px;
    margin-left: 30px;
    padding-top: 60px;
    padding-bottom: 10px;
}
p{
    line-height: 3;
    font-size: 20px;
    padding-left: 22px;
}
.parte-centrale-sinistra{
    width: 50%;
    height: 100%;
    float:left;
    background-image: linear-gradient(to top right, #fef8f0, #fff3ee, #fff1ee);
}
.parte-centrale-destra{
    width: 50%;
    height: 100%;
    float: left;
    background-image: linear-gradient(to top right, #fef8f0, #fff3ee, #fff1ee);
    text-align: right;
}
.parte-centrale-sinistra a{
    font-size: 15px;
    padding: 15px;
    margin-left: 30px;

}
