* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.uno {
    height: 100px;
    background-color: blue;
}


.container{
    width:1080px;
    margin: auto;
    height: 100%;
    background-color: black;
}
.header-bottom{
    height: 120px;
    background-color: red;
}
.header-top-left{
    width: 50%;
    height: 100%;
    float:left;
    background-color: yellow;
}
.header-top-right{
    width: 50%;
    height: 100%;
    float: left;
    background-color: green;
}
h1 {
    color:white;
    float: left;
    margin-right: 30px;
}
h3{
    color:white;
    display: inline-block;
    float: left;
    
}
.fa-globe{
    background-color:white;
    width: 35px;
    height: 5px;
    margin: 6px 0;

}
.cta-container{
    text-align: right;
    width: 35%;
    float: left;
    height: 100%;
}
.btn{
    padding:10px;
    border-radius: 5px;
    border: 1px solid #4e8cb6;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    border-color: orange;

}
.btn-primary {
    background-color: orange;
    border-color: orange;

}
